body {
    margin: 0;
    padding: 0;
    background: url(bg.jpeg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    position: relative;
}

.dropdown-item{
    color: #FFFFFF;
}

table.dataTable tbody tr {
    background-color: #343a40; 
}

div.dataTables_wrapper div.dataTables_length label {
    color: #FFFFFF;
}

div.dataTables_wrapper div.dataTables_filter label {
    color: #FFFFFF;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 8px;
    white-space: nowrap;
    color: #FFFFFF;
}

.a .page-link{
    background-color: #343a40;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}