.conteiner {
    background-color: #f2f2f2;
    margin: 50px;
    padding: 10px;
    width: 40%;
    height: 700px;
    border: 2px solid rgb(219,144,.5);
}

.form-group {
    margin-left: 80px;
    padding: 10px;
}

.form-group label {
    font-family: 'open sans';
    font-size:"5px";
    color: #000000;
    margin: 20px;
}

.form-group input {
    margin: 10px;
    padding: 0;
}